<!DOCTYPE html>
<html>
<head>
   <title>Flask Leaflet</title>
   <!-- CSS -->
   <link rel="stylesheet" href="{{ url_for('static', filename='css/universal.css') }}" />
   <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="crossorigin=""/>
   <link rel="stylesheet" href="../static/css/mystyle.css" />

   <!-- JavaScript -->
   <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="crossorigin=""></script>
   <script src="{{ url_for('static', filename='js/universal.js') }}" /></script>
   <script>
     function tanya()
      {
         var tanyain=confirm("Apakah data ini akan dihapus ?");
         if (tanyain)
           {
              return True;
           }
         else
           {
              return False;
           }
       }
   </script>
</head>
<body>
 <a href="/">Home</a> | <a href="/tampil_data">Tampil Data</a>
 {% block content %}{% endblock %}
 <div id="footer">
    <div id="tulisan_footer">
        Pengolahan Data Spasial -- Akhmad Sofwan
    </div>
 </div>
</body>
</html>